fastapi
uvicorn
streamlit
python-multipart
pandas
numpy
langchain>=1.2.0
langchain-core>=0.3.0
langchain-groq
langchain-ollama
gpt4all
langchain-community
python-dotenv
matplotlib
plotly
g4f
brotli
pycryptodome
nest-asyncio2
curl_cffi
zendriver
platformdirs
browser_cookie3
